# Python virtual environments
.venv/
venv/
env/
ENV/
lib/
lib64/

# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Environment files
.env
*.env

# Logs
*.log

# Home Assistant database/logs/state
home-assistant_v2.db*
home-assistant.log*
*.db-shm
*.db-wal

# Devcontainer extras
.devcontainer/

# Custom components cache
custom_components/__pycache__/

# Ignore the custom facts directory
custom_facts/

data/topic_aliases_custom.yaml
rendered_topics.md
