{# context_provider_prompt.jinja #}

{% include 'context_provider/intents.jinja' %}
{% include 'context_provider/decision_guide.jinja' %}
{% include 'context_provider/available_topics.jinja' %}
{% include 'context_provider/slot_extraction.jinja' %}
{% include 'context_provider/propose_new_topic.jinja' %}
{% include 'context_provider/capture_pending_fact.jinja' %}
